{{ $url := .Get "url" }}

{{/* LINE Store specific config */}}
{{ if and (hasPrefix $url "https://store.line.me") (not (strings.HasSuffix $url "/ja")) }}{{ $url = print $url "/ja" }}{{ end }}
{{ $data := dict }}
{{ $targetURL := printf "http://localhost:8080/ogp?url=%s" $url }}
{{ with resources.GetRemote $targetURL }}
  {{ with .Err }}
    {{ errorf "%s" . }}
  {{ else }}
    {{ $data = .Content | transform.Unmarshal }}
  {{ end }}
{{ else }}
  {{ errorf "Unable to get OGP data" }}
{{ end }}
{{ $title := $data.title }}
{{ $image := (index $data.image 0).url}}
{{ $description := $data.description }}
{{/* Message Sticker specific */}}
{{ if (hasPrefix $url "https://store.line.me") }}{{ $description = strings.TrimSuffix "現在この商品は一部のスマートフォン版LINE 10.3.0以上のトークルームでのみ使用できます。動作環境の最新情報はヘルプをご確認ください。" $description }}{{ end }}

{{ $favicon := $data.favicon.url }}
{{ $siteName := $data.site_name }}

<div class="web-embed">
  <a href="{{ $url }}">
    <div class="web-embed-thumbnail">
      <img src="{{ $image }}" alt="{{ $title }}">
    </div>
    <div class="web-embed-content">
      <div class="web-embed-title">{{ $title }}</div>
      <div class="web-embed-description">{{ $description }}</div>
      <div class="web-embed-site-name">
        <img src="{{ $favicon }}" alt="{{ $siteName }}" class="favicon">
        {{ $siteName }}
      </div>
    </div>
  </a>
</div>
